/CompCatalogo/nbproject/private/
/CompCatalogo/CompCatalogo-war/nbproject/private/
/CompCatalogo/CompCatalogo-ejb/nbproject/private/
/CompCatalogoLib/nbproject/private/
/CompCatalogoLib/build/
/CompUsuario/CompUsuario-ejb/dist/